node_modules*
npm-debug.log
Dockerfile*
docker-compose*
.git*
.gitignore
README.md
LICENSE
.vscode
out
charts
helm*
sonar-project.properties
.next
yarn-error.log
.gitlab-ci.ylm
test*
.cache
build
#.env*
license.txt
exports
*.cache
build
.strapi-updater.json